.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 45px;
    background: #0e0c16;


    & .about-section-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        text-align: center;
    }

    & .about-img-overview {
        position: relative;
        width: 70%;

        & .overview {
            width: 100%;
            object-fit: cover;
        }

        & .paid-img {
            position: absolute;
            object-fit: cover;
            border-radius: 12px;
            top: -20px;
            right: -80px;
            // margin-left: -60px;
            width: 30%;
            box-shadow: 7px 8px 0px 1px rgba(0, 0, 0, 0.34);
            -webkit-box-shadow: 7px 8px 0px 1px rgba(0, 0, 0, 0.34);
            -moz-box-shadow: 7px 8px 0px 1px rgba(0, 0, 0, 0.34);
        }

        & .user-img {
            position: absolute;
            object-fit: cover;
            border-radius: 12px;
            bottom: -40px;
            left: -100px;
            // margin-left: -60px;
            width: 25%;
            box-shadow: 7px 8px 0px 1px rgba(0, 0, 0, 0.34);
            -webkit-box-shadow: 7px 8px 0px 1px rgba(0, 0, 0, 0.34);
            -moz-box-shadow: 7px 8px 0px 1px rgba(0, 0, 0, 0.34);
        }
    }
}

@media (min-width:1025px) {
    .about-section {

        & .about-section-content {
            width: 40%;
            text-align: center;
        }

        & .about-img-overview {
            width: 80%;

            & .overview {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width:1024px) {
    .about-section {


        & .about-section-content {
            margin-top: 70px;
            width: auto;
            text-align: center;
        }


        & .about-img-overview {
            // position: none;
            width: auto;
            padding: 0 25px;
            // position: relative;
            // left: 250px;

            & .overview {
                width: 100%;
                object-fit: cover;
            }

            & .paid-img {
                display: none;
            }

            & .user-img {
                display: none;
            }
        }
    }
}

@media (max-width:430px) {
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;


        & .about-section-content {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 auto;
            width: auto;
            text-align: center;

        }
    }
}

@media (min-width: 2459px) {
    .about-section {
        padding: 0 250px;
    }
}

@media (max-width: 450px) {
    .about-section {
        padding: 0 10px;
    }
}