@import '../../style/variables.scss';

.button {
    padding: 10px 20px;
    border-radius: 12px;
    background: $white-color;
    border: none;
    cursor: pointer;
    box-shadow: $box-shadow-effect-btn;
}

.button.bgColor {
    background-color: $primary-blue-color-rga-btn;
}

@media(max-width:430px) {
    .button {
        padding: 5px 15px;
        border-radius: 8px;

    }
}