@import '../../style/variables.scss';

.navigation {
    background: $secondary-black-color;


    & .navigation-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px;
        // background: #0e0c16;

        & .navigation-content {
            display: flex;
            flex-direction: row;
        }
    }
}

@media (min-width: 2459px) {
    .navigation {
        & .navigation-header {
            padding: 25px 250px;
        }
    }
}

@media (max-width:430px) {
    // .navigation {
    //     & .navigation-header {
    //         padding: 15px 0;
    //     }
    // }

    // .navigation {
    //     background: #0e0c16;

    //     & .navigation-header {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: center;
    //         padding: 25px;
    //         width: 100%;
    //         padding: 15px 0;
    //         // background: #0e0c16;

    //         & .navigation-content {
    //             display: flex;
    //             flex-direction: row;
    //             width: 100%;
    //         }
    //     }
    // }
}