@import '../../style/variables.scss';

.navigation {
    background: $secondary-black-color;


    & .navigation-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px;
        // background: #0e0c16;

        & .navigation-content {
            display: flex;
            flex-direction: row;
        }
    }
}

@media (min-width: 2459px) {
    .navigation {
        & .navigation-header {
            padding: 25px 250px;
        }
    }
}
