.logo {
    font-size: 29px;
    // height: 30px;
    // width: 121px;
    font-weight: 700;
    color: #2c731c;
    // background-image: -webkit-radial-gradient(circle,
    //         #2c731c 10%,
    //         #4c64ce 33%,
    //         #0e9c80 63%,
    //         #d8e1a2 70%);
    background-image: linear-gradient(to top, #fdc639, #ffb73e, #ffa844, #ff9a4c, #ff8d54, #ff825f, #ff786b, #ff6f78, #ff688d, #ff63a5, #ff63c1, #ff68de);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
