@import '../../style/variables.scss';

.section-title {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & .section-title-title {
        font-size: 46px;
        font-weight: 400;
        color: $primary-black-color;
    }

    & .section-title-description {
        margin: 15px 0;
        font-size: 20px;
        font-weight: 400;
        color: $primary-black-color-rgb;
        opacity: 0.7;
    }
}


.section-title-about.styleAbout {
    margin-top: 100px;
    text-align: center;
}

.section-title-about.styleAbout {
    font-size: 48px;
    font-weight: 600;
    color: $white-color;
}

.section-description-about.styleAbout {
    font-size: 22px;
    font-weight: 400;
    color: $white-color;
    margin: 30px 0;
    opacity: 0.8;

}

@media (max-width:1024px) {



    .section-title-about.styleAbout {
        margin-top: 70px;
        width: auto;
        text-align: center;
        font-size: 38px;
    }

    .section-description-about.styleAbout {
        font-size: 18px;
        margin: 20px 0;
        opacity: 0.8;
    }
}

@media(max-width:430px) {
    .section-title-about.styleAbout {
        margin-top: 30px;

    }

    .section-title-about.styleAbout {
        font-size: 29px;
        font-weight: 600;
        // text-align: center;
        color: $white-color;
    }

    .section-description-about.styleAbout {
        font-size: 16px;
        font-weight: 400;
        color: $white-color;
        margin: 20px 0;
        opacity: 0.8;
    }


    .section-title {
        margin: 30px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & .section-title-title {
            font-size: 38px;
            font-weight: 400;
            text-align: center;
            color: $primary-black-color;
        }

        & .section-title-description {
            margin: 15px 0;
            font-size: 16px;
            font-weight: 300;
            color: $primary-black-color-rgb;
            opacity: 0.7;
        }
    }
}