@import '../../../../style/variables.scss';

.payload {
    width: auto;
    display: flex;
    justify-content: center;

    & .payload-container {
        display: flex;
        justify-content: center;
        // align-items: center;
        align-content: flex-start;
        flex-direction: row;
        gap: 30px;
        width: 55%;
        margin: 10px 0;

        & .payload-card-content {
            // width: 75%;
            height: min-content;
            display: flex;
            flex-direction: column;
            background-color: $white-color;
            box-shadow: $box-shadow-effect;
            border-radius: 14px;
            padding: 50px;
            width: auto;

            & .payload-section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;


                & .payload-section-header {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                    width: 100%;

                    & .payload-section-title {
                        font-size: 30px;
                        // font-weight: 600;
                    }
                }

                & .payload-section-description {
                    font-size: 18px;
                    font-weight: 300;
                    opacity: 0.7;
                }
            }

            & .payload-section-main {
                display: flex;
                flex-direction: column;
                width: 100%;

                & .payload-price {
                    font-size: 38px;
                    margin: 10px 0;

                    & .payload-mo {
                        font-size: 21px;
                        font-weight: 300;
                        opacity: 0.7;
                        padding-left: 5px;
                    }
                }


            }

            & .payload-section-about {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 10px 0;

                & .payload-section-list {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 5px 0;

                    & .payload-text {
                        font-size: 17px;
                        font-weight: 300;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.payload-container:nth-child(1) .payload-card-content:nth-child(2) {
    background-color: $secondary-black-color;

    & .payload-section-description {

        color: $white-color;
    }


    & .payload-text {
        color: $white-color;
        opacity: 1 !important;
        margin: 0 7px;
    }

    & .payload-section-title {
        font-size: 30px;
        color: $white-color;
        // font-weight: 600;
    }

    & .payload-price {
        font-size: 38px;
        margin: 10px 0;
        color: $white-color;

    }
}


@media (max-width:1025px) {
    .payload {

        & .payload-container {

            width: 85%;
            margin: 10px 0;
        }
    }
}

@media (max-width:800px) {
    .payload {

        & .payload-container {

            width: 95%;
            margin: 10px 0;
        }
    }
}

@media (max-width:430px) {
    .payload {

        & .payload-container {

            flex-direction: column;
            gap: 20px;
            width: 95%;
            margin: 10px 0;

            & .payload-card-content {
                padding: 20px 25px;
                width: auto;

                & .payload-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }
}