@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.btn-text {
  font-size: 18px;
  font-weight: 400;
  color: rgba(44, 49, 58, 1);
}

.btn-text.btn {
  color: rgb(255, 255, 255);
}
