$secondary-black-color: #0e0c16;
$primary-black-color: #262c3b;
$primary-black-color-rgb: rgb(37, 43, 59);
$secondary-white-color: #ffffffd9;
$white-color: #fff;
$box-shadow-effect: 0 -1.909999966621399px 1.811519980430603px #2b304505, 0 3.0051724910736084px 5.008620738983154px #2b304509, 0 7.235297679901123px 12.058829307556152px #2b30450c, 0 24px 40px #2b304512;
;
$box-shadow-effect-btn: rgb(37, 43, 59);
$primary-blue-color-rga-btn: rgb(150, 92, 255);
$box-shadow-effect-img: 7px 8px 0px 1px rgba(0, 0, 0, 0.34);
$card-background-color: rgba(255, 255, 255, 0.03);
$banner-box-shadow: rgba(72, 62, 94, 0.35) 0px 49px 64px -20px;